.app-root {
  background-image: linear-gradient(#fff9b6, #ffffff);
}
.main-content {
  min-height: 300px;
}
.footer {
  font-size: .8rem;
  color: #c51616;
  background-image: linear-gradient(#75f09c, #c0f7d1);
  position: absolute;
  bottom: 0;
  padding: 10px 20px;
  width: 100%;
}